/* line 7, ../sass/main.scss */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #54525C;
  overflow: hidden;
}

/* line 16, ../sass/main.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* line 23, ../sass/main.scss */
.camera, .button, .flash, .band, .lens {
  position: absolute;
}

/* line 27, ../sass/main.scss */
.button {
  width: 5vmin;
  height: 3vmin;
  background: #F25C54;
  top: -16vmin;
  left: -23vmin;
  border-radius: 0.5vmin;
}

/* line 35, ../sass/main.scss */
.camera {
  width: 50vmin;
  height: 30vmin;
  border-radius: 2vmin;
  box-shadow: 1vmin 1vmin 0 0 rgba(0, 0, 0, 0.2);
  background-color: #E6E8E6;
}
/* line 41, ../sass/main.scss */
.camera .flash {
  top: 2vmin;
}
/* line 44, ../sass/main.scss */
.camera .flash:before, .camera .flash:after {
  position: absolute;
  content: '';
}
/* line 49, ../sass/main.scss */
.camera .flash:before {
  width: 3vmin;
  height: 3vmin;
  background: #ADE1E5;
  left: 44vmin;
  border-radius: 100%;
}
/* line 56, ../sass/main.scss */
.camera .flash:after {
  width: 1vmin;
  height: 1vmin;
  background: #FFF;
  top: 13vmin;
  border-radius: 100%;
  left: 23vmin;
  opacity: 0.6;
}
/* line 66, ../sass/main.scss */
.camera .band {
  top: 50%;
  background: #E88873;
  width: 50vmin;
  height: 15vmin;
  margin-top: -8vmin;
}
/* line 73, ../sass/main.scss */
.camera .lens {
  width: 20vmin;
  height: 20vmin;
  border-radius: 100%;
  background: radial-gradient(#000000 0%, #000000 20%, #383838 0%, #383838 40%, #4b4b4b 0%, #4b4b4b 50%, #3a3a3a 0%, #3a3a3a 60%, #e6e8e6 0%, #e6e8e6 100%);
  left: 50%;
  margin-top: -10vmin;
  top: 50%;
  margin-left: -10.5vmin;
}
/* line 82, ../sass/main.scss */
.camera .lens:before, .camera .lens:after {
  position: absolute;
  content: '';
}
/* line 86, ../sass/main.scss */
.camera .lens:before {
  width: 14vmin;
  height: 7vmin;
  border-radius: 100%;
  border-bottom: 7vmin solid rgba(255, 255, 255, 0.2);
  top: 3vmin;
  left: 3vmin;
  transform: rotate(-50deg);
}
/* line 94, ../sass/main.scss */
.camera .lens:after {
  width: 1.5vmin;
  height: 1.5vmin;
  border-radius: 100%;
  background: #fff;
  opacity: 0.8;
  top: 8vmin;
  left: 10vmin;
}
